<!-- Search Form -->
<div class="header-search-form mr-auto">
    <form action="#">
        <input type="search" placeholder="Input your keyword then press enter..." id="search" name="search">
        <input class="d-none" type="submit" value="submit">
    </form>
</div>
<!-- Search btn -->
<div id="searchbtn">
    <i class="fa fa-search"></i>
</div>