@model List<News>

<section class="welcome-blog-post-slide owl-carousel">
    @foreach (News news in Model)
    {
        <div class="single-blog-post-slide bg-img background-overlay-5" style="background-image: url(@news.NewsImages[0].ImagePath);">

            <div class="single-blog-post-content">
                <div class="tags">
                    @foreach (var item in news.Categories)
                    {
                        <a href="#">@item.Name</a>
                    }
                </div>
                <h3><a asp-controller="News" asp-action="Detail" asp-route-cid=@news.Id class="font-pt">@news.Title</a></h3>
                <div class="date">
                    <a href="#">@news.CreatedAt</a>
                </div>
            </div>
        </div>        
    }
</section>

<div class="latest-news-marquee-area">
    <div class="simple-marquee-container">
        <div class="marquee">
            <ul class="marquee-content-items">
                <li>
                    <a href="#"><span class="latest-news-time">10:40</span> The Facebook Live stream that could presage TV</a>
                </li>
                <li>
                    <a href="#"><span class="latest-news-time">11:02</span> Opinion: It's time to start talking about impeachment</a>
                </li>
                <li>
                    <a href="#"><span class="latest-news-time">12:37</span> Clinton aims to shore up Wisconsin with new TV ads</a>
                </li>
                <li>
                    <a href="#"><span class="latest-news-time">13:59</span> Trump signs tax bill before leaving for Mar-a-Lago</a>
                </li>
            </ul>
        </div>
    </div>
</div>
